{% extends "layout.html" %}
  <!-- Page Header -->
{% block body %}  
  <header class="masthead" style="background-image: url(' {{url_for('static' , filename='img/home-bg.jpg')}}')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>Admin Panel</h1>
            <span class="subheading">Here Manage Your Post</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <h1>Basic Action</h1>
        <a href="/dashboard/"><button class="btn btn-primary">Dashboard Home</button></a>
        <a href="/logout"><button class="btn btn-primary">Logout</button></a>
        <hr>
<h1>Add/Edit Post</h1>
  <form name="editpost" method="POST" action="/edit/{{pid}}" id="contactForm">
          <div class="control-group">
            <div class="form-group floating-label-form-group controls">
              <label>Title</label>
              <input type="text" class="form-control" placeholder="Title" id="title" name='title' required data-validation-required-message="Please enter your Title." value="{{post.title}}">
              <p class="help-block text-danger"></p>
            </div>
          </div>
          <div class="control-group">
            <div class="form-group col-xs-12 floating-label-form-group controls">
              <label>Sub Title</label>
              <input type="text" class="form-control" placeholder="Sub Title" id="subtitle" name='subtitle' required data-validation-required-message="Please enter your phone number." value="{{post.subtitle}}">
              <p class="help-block text-danger"></p>
            </div>
          </div>
          <div class="control-group">
            <div class="form-group floating-label-form-group controls">
              <label>Slug</label>
              <input type="text" class="form-control" placeholder="Slug" id="slug" name='slug' required data-validation-required-message="Please enter your email address." value="{{post.slug}}">
              <p class="help-block text-danger"></p>
            </div>
          </div>
          <div class="control-group">
            <div class="form-group floating-label-form-group controls">
              <label>Content</label>
              <textarea rows="5" class="form-control" placeholder="Content" id="content" name='content' required data-validation-required-message="Please enter a message.">{{post.content}}</textarea>
              <p class="help-block text-danger"></p>
            </div>
          </div>
          
          <div class="control-group">
            <div class="form-group col-xs-12 floating-label-form-group controls">
              <label>Image</label>
              <input type="text" class="form-control" placeholder="Image" id="image_file" name='img_file' required data-validation-required-message="Please enter your phone number." value="{{post.img_file}}">
              <p class="help-block text-danger"></p>
            </div>
          </div>
          <div class="control-group">
            <div class="form-group col-xs-12 floating-label-form-group controls">
              <label>Author</label>
              <input type="text" class="form-control" placeholder="Author" id="author" name='author' required data-validation-required-message="Please enter your phone number." value="{{post.author}}">
              <p class="help-block text-danger"></p>
            </div>
          </div>
          <br>
          <div id="success"></div>
          <div class="form-group">
            <button type="submit" class="btn btn-primary" id="sendMessageButton">Submit</button>
          </div>
        </form>
        

      </div>
    </div>
  </div>
{% endblock %}  

 
